.news-box{
    margin: 3rem;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}