<div class="news-box">
  <div class="header-container">
    <h1>Latests stories!</h1>
    <button mat-button (click)="showSearchBar = !showSearchBar">
      <mat-icon fontIcon="search"/>
      Search
    </button>
  </div>

  @if (showSearchBar) {
    <div>
      <news-searchbar (searchNewsEvent)="search($event)" />
    </div>
  }

  <mat-divider/>

  <news-table [loading]="loading" [news]="currentNews" [mode]="'stories'" (bookmarkToggled)="onBookmarkToggled($event)"/>

  <news-paginator #paginator [length]="totalNewsCount" (changePageEvent)="changePage($event)" />
</div>