/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Custom snackbar styles */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.success-snackbar .mat-mdc-button {
  color: white !important;
}
